@import '../../../variables.scss';

.table {
  border: 1px solid $light-grey;
  background-color: $white;
  border-left: none;
  border-right: none;

  th,
  td {
    border: none;
  }

  th {
    color: $grey;
    font-size: 0.8em;
  }

  tr {
    border-bottom: 1px solid $light-grey;
  }

  tfoot {
    div {
      text-align: right;
      font-size: 1.05em;
      letter-spacing: 0.1em;
      color: $night-rider;
      font-weight: lighter;

      &.order-total {
        font-size: 1.1em;
        font-weight: 900;
      }
    }
  }
}

.order {
  margin: 2em 0;
}

app-info-card {
  /deep/ .card {
    background-color: $white-smoke;
    box-shadow: none;

    header {
      box-shadow: none;
    }
  }
}
