<div class="columns cart-page">
  <div class="column">

    <div class="columns">
      <div class="column is-4">
        <app-info-card
          title="Shipping Address"
          icon="mdi mdi-lead-pencil"
          label="Edit"
          url="checkout/shipping"
        >
          <ul>
            <li>Address</li>
            <li>Address</li>
            <li>Address</li>
            <li>Address</li>
            <li>Address</li>
          </ul>
        </app-info-card>
      </div>
      <div class="column is-4">
        <app-info-card
          title="Billing Address"
          icon="mdi mdi-lead-pencil"
          label="Edit"
          url="checkout/shipping"
        >
          <ul>
            <li>Address</li>
            <li>Address</li>
            <li>Address</li>
            <li>Address</li>
            <li>Address</li>
          </ul>
        </app-info-card>
      </div>
      <div class="column is-4">
        <app-info-card
          title="Shipping Method"
          icon="mdi mdi-lead-pencil"
          label="Edit"
          url="checkout/shipping"
        >
          <ul>
            <li>Standard</li>
          </ul>
        </app-info-card>
        <app-info-card
          title="Payment Details"
          icon="mdi mdi-lead-pencil"
          label="Edit"
          url="checkout/payment"
        >
            <ul>
              <li>Prepaid</li>
            </ul>
          </app-info-card>
      </div>
    </div>

    <!-- Cart table -->
    <table class="table is-hoverable is-fullwidth" *ngIf="cart">
      <thead>
        <tr>
          <th class="is-uppercase" *ngFor="let title of columns">{{title}}</th>
        </tr>
      </thead>

      <tfoot>
        <!-- Line with subtotal and shipping costs -->
        <tr class="subtotal">
          <th colspan="4">
            <div class="columns">
              <div class="column is-2 is-offset-8">
                <div>Subtotal</div>
                <div>Shipping</div>
              </div>
              <div class="column is-2">
                <div>{{cart.totalPrice.currencyCode}} {{0.01 * cart.totalPrice.centAmount}}</div>
                <div>EUR 0.-</div>
              </div>
            </div>

        </tr>
        <!-- Line with sales tax and total costs -->
        <tr class="total">
          <th colspan="4">
            <div class="columns">
              <div class="column is-2 is-offset-8">
                <div>Sales Tax</div>
                <div class="order-total">Total</div>
              </div>
              <div class="column is-2">
                <div>EUR 0.-</div>
                <div class="order-total">{{cart.totalPrice.currencyCode}} {{0.01 * cart.totalPrice.centAmount}}</div>
              </div>
            </div>
          </th>
        </tr>
      </tfoot>

      <tbody>
        <tr *ngFor="let item of cart.lineItems">
          <td class="columns cart-item-description">
            <div class="column">
              <app-cart-order-content [item]="item"></app-cart-order-content>
            </div>
          </td>
          <td class="cart-item-quantity">{{item.quantity}}</td>
          <td class="cart-item-price">{{item.price.value.currencyCode}} {{0.01 * item.price.value.centAmount}} </td>
          <td class="cart-item-price">{{item.price.value.currencyCode}} {{0.01 * (item.quantity * item.price.value.centAmount)}}</td>
        </tr>
      </tbody>
    </table>
    <!-- Button line -->
    <div class="level order">
      <!-- Checkout button -->
      <div class="level-item level-right">
        <app-goto-button name="Complete my Order" (click)="goToCheckout();"></app-goto-button>
      </div>
    </div>
  </div>
</div>
