$ebony-clay: #2A343F;
$limed-spruce: #353e49;
$my-sin: #FFBA27;
$white: #fff;
.navbar-item,
.title {
  color: $white;
}
.navbar-item:hover {
  background-color: $ebony-clay;
  color: $white;
}
.navbar-menu {
  .navbar-item:hover {
    background-color: $limed-spruce;
    color: $my-sin;
  }
}

