@import '../../variables.scss';

.section {
  background-color: $romance;

  .subtitle {
    font-weight: lighter;
  }
}

.checkout {
  background-color: $white;
  border: 1px solid $light-grey;
}

.step {
  font-size: 1em;
  border: 1px solid $silver;
  border-radius: 50%;
  padding: 4px 12px;
  background-color: $white;

  &.active {
    color: $white;
    background-color: $silver;
  }
}
