@import '../../variables.scss';

.section {
  background-color: $romance;

  h6.title {
    font-weight: lighter;
    padding: 5px 2px 1em 2px;
    margin-bottom: 0;
  }

  .subtitle {
    font-weight: lighter;
  }
}

.checkout {
  background-color: $white;
  border: 1px solid $light-grey;
}
