@import '~assets/scss/styles';

.section {
  background-color: $romance;

  .subtitle {
    font-weight: lighter;
  }
}

.checkout {
  background-color: $white;
  border: 1px solid $light-grey;
}

.icon-credit-card {
  font-size: 2.25rem;
  margin-right: 0.3125rem;
}
