@import '~assets/scss/styles';

.active {
  display: block;
}

.hidden {
  display: none;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid $light-grey;

  .more {
    color: $miscka;
    cursor: pointer;
    &:hover {
      color: $grey;
    }
  }
}

li {
  cursor: pointer;
  &:hover {
    background-color: $white-smoke;
  }
  .search-item {
    display: inline-flex;
    .image {
      width: 48px;
      border: 1px solid $light-grey;
    }
  }
}
