<app-popover [ngClass]="(isPopoverShown) ? 'active' : 'hidden'">
  <ng-container *ngIf="hits?.length; else nomatch">
    <div class="section-title mt-half mb-1 p-half level">
      <div class="level-left">Products</div>
      <div class="is-uppercase level-right more">More</div>
    </div>
    <ul>
      <li *ngFor="let hit of hits" (click)="onSearch();">
        <div class="search-item ml-half mr-1 pt-half pb-half">
          <figure class="image">
            <img src="{{hit.images}}" (error)="img.src=defaultImage" #img>
          </figure>
          <div class="ml-1">{{hit["name.en"]}}</div>
        </div>
      </li>
    </ul>
  </ng-container>
  <ng-template #nomatch>
    <div>Search for '{{searchQuery}}'</div>
  </ng-template>
</app-popover>
