<section class="hero">
  <div class="hero-head">
    <app-brand-navbar></app-brand-navbar>
  </div>
  <div class="hero-body">
      <div class="container">
        <a routerLink="/">
          <h1 class="title">{{title}} Demo</h1>
        </a>
      </div>
  </div>
  <!-- Main menu -->
  <div class="hero-foot">
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">
      <div class="navbar-menu" id="navMainMenu">
        <div class="navbar-start">
          <!-- List of categories -->
          <div class="navbar-item has-dropdown is-hoverable" *ngFor="let category of categories">
            <a class="navbar-item category" [routerLink]="['categories/', category.id]">
              {{category.name.en}}
            </a>
           <!-- Dropdown with sub categories -->
          <div class="navbar-dropdown is-boxed" *ngIf="category.subCategories">
            <app-main-menu [categories]="category.subCategories"></app-main-menu>
          </div>
        </div>
      </div>
      </div>
    </nav>
  </div>
</section>

