@import '../../../variables.scss';

.hero-head {
  background-color: $ebony-clay;
}

.hero-body {
  background-color: $white;
  padding: 0 1.5em;
  .container {
    margin-left: 0;
  }

  .title {
    a {
      color: $ebony-clay;
      i {
        color: $yellow;
        padding: 10px;
      }
    }
  }
}

.hero-foot {
  // Categories menu
  .navbar-menu {
  border-bottom: 1px solid #D6D6D6;
  padding-left: 1.5em;

    .category {
      color: $ebony-clay;
      font-size: 18px;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      background-color: transparent;
      padding: 0 1em;
      margin: 0.5em 0;
      &:hover {
        border-bottom-color: $ebony-clay;
      }
    }
  }
}
