@import '~assets/scss/styles';

.hero-head {
  background-color: $ebony-clay;
}

.hero-body {
  align-items: center;
  background-color: $white;
  padding: 0 1.5em;
  margin: 0;

  .title {
    a {
      color: $ebony-clay;
      i {
        color: $yellow;
        padding: 10px;
      }
    }
  }

  .search {
    position: relative;
    input,
    .button {
      height: 40px;
      background: $romance;
      border: 1px solid rgba(170, 174, 178, 0.5);
      padding: 0 1em;
    }
    input {
      border-radius: 2px;
      border-right: 0;
      margin: 0;
      font-size: 16px;
      box-shadow: none;
    }

    .button {
      border-left: 0;
      i:before {
        color: rgba(170, 174, 178, 0.5);
        font-size: 30px;
      }
    }
  }
}

.hero-foot {
  // Categories menu
  .navbar-menu {
    border-bottom: 1px solid #d6d6d6;
    padding-left: 1.5em;

    .category {
      color: $ebony-clay;
      font-size: 18px;
      text-transform: uppercase;
      border-bottom: 2px solid transparent;
      background-color: transparent;
      padding: 0 1em;
      margin: 0.5em 0;
      &:hover {
        border-bottom-color: $ebony-clay;
      }
    }
  }
}
