// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
$sans-pro-font: 'Source Sans Pro', sans-serif;


// Colors
$ebony-clay: #2A343F;
$limed-spruce: #353e49;
$light-grey: #d6d6d6;
$romance: #F5F2EA;
$silver: #ADADAD;
$white: #fff;
$white-smoke: #eee;
$yellow: #FFBA27;
