<div class="columns product-view">
    <div class="column is-3 is-offset-2">
        <figure class="image product-image">
        <img src="{{product.masterVariant.images[0].url}}">
      </figure>
    </div>
    <div class="column is-offset-1">
      <h2 class="product-title">{{product.name.en}}</h2>
      <h3 class="sku">{{product.masterVariant.sku}}</h3>
      <div class="subtitle is-3">
        {{product.masterVariant.prices[0].value.currencyCode}}
        {{0.01 * product.masterVariant.prices[0].value.centAmount}}
      </div>

      <div class="field is-horizontal">

        <div class="control">
            <label>COLOR:</label><br />
            <div class="select">
              <select>
                <option *ngFor="let color of colors">{{color}}</option>
              </select>
          </div>
        </div>

        <div class="control">
            <label>SIZE:</label><br />
            <div class="select">
              <select>
                <option *ngFor="let size of sizes">{{size}}</option>
              </select>
          </div>
        </div>

      </div>

      <div class="field is-grouped">
        <div class="control">
          <div class="select">
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
          <button class="button add-to-cart">
            <span class="icon">
              <i class="mdi mdi-cart mdi-24px"></i>
            </span>
            <span>Add to cart</span>
          </button>
        </div>
      </div>
  </div>

