@import '../../../variables.scss';

.product-view {
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.pd-title {
  text-transform: uppercase;
  font-size: 1.6em;
  margin-top: 0.3em;
}
.pd-sku {
  color: $silver;
}

.pd-description {
  font-size: 0.9em;
  padding-left: 0;
}

.control {
  margin-right: 1em;
}

button.add-to-cart {
  background-color: $yellow;
  text-transform: uppercase;
}

.thumbnail {
  width: 48px;
  border: 1px solid $silver;
  padding: 2px;
  margin: 3px;
  &:hover {
    cursor: pointer;
  }
}

.attr-name {
  color: $grey;
  margin-right: 5px;
}

.pd-review {
  margin-bottom: 0;
  .mdi-star {
    color: $silver;

    &::before {
      font-style: normal;
      cursor: pointer;
    }
    &:hover {
      color: $yellow;
    }
  }
  span {
    cursor: pointer;
    text-decoration: underline;
    margin-left: 0.5em;
  }
}
