<div class="section">
  <div class="container">
    <div class="title level">
      <i class="mdi mdi-account-outline mdi-36px"></i>
      <span class="level-left level-item">Customer Sign in</span>
    </div>

    <!-- Forms -->
    <div class="columns level">

      <!-- Sign in form -->
      <div class="column is-5 level-left box-wrapper">
        <form>
          <div class="form-header">
            <div class="title is-6">Customer Sign In</div>
          </div>
        </form>
      </div>

      <!-- Sign up form -->
      <div class="column is-5 level-right box-wrapper">
        <form>
          <div class="form-header">
            <div class="title is-6">New Customer Registration</div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
