<div class="columns cart-page">
  <div class="column is-10 is-offset-1">

    <div class="level">
      <!-- Total amount of items in the cart -->
      <div class="subtitle level-left">
        <i class="mdi mdi-cart-outline mdi-36px"></i>
        <span class="is-uppercase">Your cart: </span>
        <span class="items-total">{{totalAmount}} </span> items in total
      </div>
      <!-- Checkout button -->
      <app-checkout-button name="Checkout"></app-checkout-button>
    </div>
    <!-- Cart table -->
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th class="is-uppercase" *ngFor="let title of columns">{{title}}</th>
        </tr>
      </thead>

      <tfoot>
        <!-- Line with subtotal and shipping costs -->
        <tr class="subtotal">
          <th colspan="4">
            <div class="columns">
              <div class="column is-2 is-offset-8">
                <div>Subtotal</div>
                <div>Shipping</div>
              </div>
              <div class="column is-2">
                <div>{{cart.totalPrice.currencyCode}} {{0.01 * cart.totalPrice.centAmount}}</div>
                <div>EUR 0.-</div>
              </div>
            </div>

        </tr>
        <!-- Line with sales tax and total costs -->
        <tr class="total">
          <th colspan="4">
            <div class="columns">
              <div class="column is-2 is-offset-8">
                <div>Sales Tax</div>
                <div class="order-total">Total</div>
              </div>
              <div class="column is-2">
                <div>EUR 0.-</div>
                <div class="order-total">{{cart.totalPrice.currencyCode}} {{0.01 * cart.totalPrice.centAmount}}</div>
              </div>
            </div>
          </th>
        </tr>
      </tfoot>

      <tbody>
        <tr *ngFor="let item of lineItems">
          <td class="columns cart-item-description">
            <div class="column">
                <app-cart-order-content [item]="item"></app-cart-order-content>
            </div>

            <!-- Delete button -->
            <div class="column is-4 is-uppercase btn-delete" (click)="removeLineItem(item);">
              <div class="level">
                <div class="level-item">
                  <i class="mdi mdi-window-close mdi-24px"></i>
                  <span>Delete</span>
                </div>
              </div>
            </div>
          </td>
          <td class="cart-item-quantity">
            <app-quantity-input [quantity]="item.quantity" (quantityChange)="updateQuantityValue(item, $event)"></app-quantity-input>
          </td>
          <td class="cart-item-price">{{item.price.value.currencyCode}} {{0.01 * item.price.value.centAmount}} </td>
          <td class="cart-item-price">{{item.price.value.currencyCode}} {{0.01 * (item.quantity * item.price.value.centAmount)}}</td>
        </tr>
      </tbody>
    </table>
    <!-- Button line -->
    <div class="level navigation">
      <!-- Total amount of items in the cart -->
      <button class="button level-left is-uppercase btn-back" (click)="goBackToHomePage()">
        <span class="icon">
          <i class="mdi mdi-chevron-left mdi-36px"></i>
        </span>
        <span>Continue shopping</span>
      </button>

      <!-- Checkout button -->
      <app-checkout-button name="Checkout"></app-checkout-button>
    </div>
  </div>
</div>
