<div class="columns">
  <div class="column is-10 is-offset-1">

    <div class="level">
      <!-- Total amount of items in the cart -->
      <div class="subtitle level-left">
        <i class="mdi mdi-cart-outline mdi-36px"></i>
        <span class="is-uppercase">Your cart: </span>
        <span class="items-total">{{totalAmount}} </span> items in total
      </div>
      <!-- Checkout button -->
      <app-checkout-button name="Checkout"></app-checkout-button>
    </div>
    <!-- Cart table -->
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th class="is-uppercase" *ngFor="let title of columns">{{title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.lineItems">
          <td class="cart-item-description">
            <app-cart-order-content [item]="item"></app-cart-order-content>
          </td>
          <td class="cart-item-quantity">{{item.quantity}}</td>
          <td class="cart-item-price">{{0.01 * item.price.value.centAmount}} {{item.price.value.currencyCode}}</td>
          <td class="cart-item-price">{{0.01 * (item.quantity * item.price.value.centAmount)}} {{item.price.value.currencyCode}}</td>
        </tr>
      </tbody>
    </table>
    <!-- Button line -->
    <div class="level button-line">
      <!-- Total amount of items in the cart -->
      <button class="button level-left is-uppercase btn-back">
        <span class="icon">
          <i class="mdi mdi-chevron-left mdi-36px"></i>
        </span>
        <span>Continue shopping</span>
      </button>

      <!-- Checkout button -->
      <app-checkout-button name="Checkout"></app-checkout-button>
    </div>
  </div>
</div>
