<form novalidate [formGroup]="addressForm">
  <h6 class="title is-6">Shipping Information</h6>

  <!-- Shipping address -->
  <div formGroupName="shippingAddressForm">
    <div class="field columns">
      <div class="control column">
        <label class="field-label is-normal">First Name*</label>
        <input class="input" type="text" formControlName="firstName">
        <app-error-display [control]="shippingAddressForm.controls.firstName"></app-error-display>
      </div>
      <div class="control column">
        <label class="field-label is-normal">Last Name*</label>
        <input class="input" type="text" formControlName="lastName">
        <app-error-display [control]="shippingAddressForm.controls.lastName"></app-error-display>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="field-label is-normal">Address 1*</label>
        <input class="input" type="text" formControlName="address1">
        <app-error-display [control]="shippingAddressForm.controls.address1"></app-error-display>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="field-label is-normal">Address 2</label>
        <input class="input" type="text" formControlName="address2">
      </div>
    </div>
    <div class="field columns">
      <div class="control column is-8">
        <label class="field-label is-normal">City*</label>
        <input class="input" type="text" formControlName="city">
        <app-error-display [control]="shippingAddressForm.controls.city"></app-error-display>
      </div>
      <div class="control column is-4">
        <label class="field-label is-normal">Post Code*</label>
        <input class="input" type="text" formControlName="postalCode">
        <app-error-display [control]="shippingAddressForm.controls.postalCode"></app-error-display>
      </div>
    </div>
    <div class="field columns">
      <div class="control column">
        <label class="field-label is-normal">Country*</label>
        <br/>
        <div class="select">
          <select formControlName="country">
            <option *ngFor="let country of countryList">{{country}}</option>
          </select>
        </div>
        <app-error-display [control]="shippingAddressForm.controls.country"></app-error-display>
      </div>
      <div class="control column">
        <label class="field-label is-normal">Region</label>
        <input class="input" type="text" formControlName="region">
      </div>
    </div>
    <div class="field columns">
      <div class="control column">
        <label class="field-label is-normal">Phone</label>
        <input class="input" type="text" formControlName="phone">
      </div>
      <div class="control column">
        <label class="field-label is-normal">Email*</label>
        <input class="input" type="text" formControlName="email">
        <app-error-display [control]="shippingAddressForm.controls.email"></app-error-display>
      </div>
    </div>
  </div>

  <div class="field is-checkbox-field">
    <label class="checkbox">
      <input type="checkbox" formControlName="showBillingAddressForm"> Use a different address for billing
    </label>
  </div>

  <!-- Billing address -->
  <div *ngIf="addressForm.get('showBillingAddressForm').value">
    <div formGroupName="billingAddressForm">
      <div class="field columns">
        <div class="control column">
          <label class="field-label is-normal">First Name*</label>
          <input class="input" type="text" formControlName="firstName">
          <app-error-display [control]="billingAddressForm.controls.firstName"></app-error-display>
        </div>
        <div class="control column">
          <label class="field-label is-normal">Last Name*</label>
          <input class="input" type="text" formControlName="lastName">
          <app-error-display [control]="billingAddressForm.controls.lastName"></app-error-display>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="field-label is-normal">Address 1*</label>
          <input class="input" type="text" formControlName="address1">
          <app-error-display [control]="billingAddressForm.controls.address1"></app-error-display>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="field-label is-normal">Address 2</label>
          <input class="input" type="text" formControlName="address2">
        </div>
      </div>
      <div class="field columns">
        <div class="control column is-8">
          <label class="field-label is-normal">City*</label>
          <input class="input" type="text" formControlName="city">
          <app-error-display [control]="billingAddressForm.controls.city"></app-error-display>
        </div>
        <div class="control column is-4">
          <label class="field-label is-normal">Post Code*</label>
          <input class="input" type="text" formControlName="postalCode">
          <app-error-display [control]="billingAddressForm.controls.postalCode"></app-error-display>
        </div>
      </div>
      <div class="field columns">
        <div class="control column">
          <label class="field-label is-normal">Country*</label>
          <br/>
          <div class="select">
            <select formControlName="country">
              <option *ngFor="let country of countryList">{{country}}</option>
            </select>
          </div>
          <app-error-display [control]="billingAddressForm.controls.country"></app-error-display>
        </div>
        <div class="control column">
          <label class="field-label is-normal">Region</label>
          <input class="input" type="text" formControlName="region">
        </div>
      </div>
      <div class="field columns">
        <div class="control column">
          <label class="field-label is-normal">Phone</label>
          <input class="input" type="text" formControlName="phone">
        </div>
        <div class="control column">
          <label class="field-label is-normal">Email*</label>
          <input class="input" type="text" formControlName="email">
          <app-error-display [control]="billingAddressForm.controls.email"></app-error-display>
        </div>
      </div>
    </div>
  </div>

  <div class="section delivery-methods">
    <h6 class="title is-6">Delivery Methods</h6>
    <div class="control columns" *ngFor="let method of deliveryMethods">
      <div class="column is-3">
        <label class="radio">
          <input type="radio" name="deliveryMethods" checked> {{method.name}}
        </label>
      </div>
      <div class="column is-6">{{method.description}}</div>
      <div class="column is-3">
        {{method.zoneRates[0].shippingRates[0].price.currencyCode}} {{method.zoneRates[0].shippingRates[0].price.centAmount * 0.01}}
      </div>
    </div>
  </div>

  <!-- Checkout button -->
  <div class="columns submit-button">
    <div class="column is-6">
      <app-goto-button name="Continue Checkout" [disabled]="!isFormValid" (click)="checkout()">
      </app-goto-button>
    </div>
  </div>
</form>
