<app-header></app-header>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-warning">
          <p class="title">Summer essentials</p>
          <p class="subtitle">Make the great day happen</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Trendy sunglasses</p>
          <p class="subtitle">Accessories for the perfect summer</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
          <p class="title">Must to have it</p>
          <p class="subtitle">Hot pieces for the summer this year</p>
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/640x480.png">
          </figure>
        </article>
      </div>
    </div>

  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-warning">
      <div class="content">
        <p class="title">Unique style for every season</p>
        <p class="subtitle">Find the best outfits for 2017</p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>
<app-footer></app-footer>
