// $xs-min: 0px;
// $xs-max: 400px;
// $sm-min: 401px;
// $sm-max: 550px;
// $md-min: 551px;
// $md-max: 855px;
// $lg-min: 856px;

//  Extra small devices (portrait phones, less than 576px)
$xs-min: 0px;
$xs-max: 575.98px;

// Small devices (landscape phones, 576px and up)
$sm-min: 576px;
$sm-max: 767.98px;

// Medium devices (tablets, 768px and up)
$md-min: 768px;
$md-max: 991.98px;

// Large devices (desktops, 992px and up)
$lg-min: 992px;
$lg-max: 1199.98px;

// Extra large devices (large desktops, 1200px and up)
$xl-min: 1200px;
