/**
* Usage example:
* ------------------
*  .m-none {
*    margin: 0;
*  }
*  .p-none {
*    margin: 0;
*  }
*  mt-half {
*    margin-top: 0.5rem !important;
*  }
*  .pb-1 {
*   padding-bottom: 1rem !important;
*  }
*/

$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';

$sizes: (
   ('none', 0),
   ('half', 0.5),
   ('1', 1),
   ('2', 2),
   ('3', 3),
   ('4', 4)
);
$positions: (
   ('t', 'top'),
   ('l', 'left'),
   ('b', 'bottom'),
   ('r', 'right')
);

@function sizeValue($key, $value) {
  @return if($key == 'none', 0, $value + $sizeUnit !important);
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);

  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue);
  }
  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue);
  }

  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);
    .#{$marginKey}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
    .#{$paddingKey}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
  }
}
