<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column" *ngFor="let column of columns">
          <div class="subtitle is-6">{{column.title}}</div>
          <ul>
            <li *ngFor="let link of column.links">
              <a *ngIf="link.routerLink" [routerLink]="link.routerLink">{{link.name}}</a>
              <a *ngIf="link.url" href="{{link.url}}">{{link.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
