<div class="columns">
  <div class="column is-3">
    <figure class="image">
      <img src="{{image.url}}">
    </figure>
  </div>
  <div class="column">
    <div class="description">
      <div class="item-name">
        <a href="/product/{{item.productId}}">{{item.name.en}}</a>
      </div>
      <div class="item-sku">{{item.variant.sku}}</div>
      <div class="item-attributes">
        <p>Color: <span>{{color.label.en}}</span></p>
        <p>Size: <span>{{size}}</span></p>
      </div>
    </div>
  </div>
</div>
