@import '../../variables.scss';

.navbar-item,
.title,
.navbar-burger {
  color: $white;
}
.navbar-item:hover {
  background-color: $ebony-clay;
  color: $white;
}
.navbar-menu {
  .navbar-item:hover {
    background-color: $limed-spruce;
    color: $yellow;
  }
}

