<nav class="navbar">
  <div class="container">
    <div class="navbar-start navbar-brand">
      <a class="navbar-item" routerLink="/">
        <h4 class="title is-4">{{title}}</h4>
      </a>
      <span class="navbar-burger burger" data-target="navMainMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" *ngFor="let item of brandMenu">
          <i class="mdi {{item.icon}} mdi-24px"></i> {{item.name}}
        </a>
      </div>
    </div>
  </div>
</nav>
