// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
$sans-pro-font: 'Source Sans Pro', sans-serif;

// Colors
$eastern-blue: #6989c2;
$ebony-clay: #2a343f;
$grey: #858585;
$limed-spruce: #353e49;
$light-grey: #d6d6d6;
$miscka: #aaaeb2;
$night-rider: #333;
$romance: #f5f2ea;
$red: #d54d4d;
$silver: #adadad;
$supernova: #ffc241;
$timberwolf: #d9d7ce;
$white: #fff;
$white-smoke: #f0f0f0;
$yellow: #ffba27;
