// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
$sans-pro-font: 'Source Sans Pro', sans-serif;


// Colors
$eastern-blue: #6989C2;
$ebony-clay: #2A343F;
$grey: #858585;
$limed-spruce: #353e49;
$light-grey: #d6d6d6;
$miscka: #AAAEB2;
$night-rider: #333;
$romance: #F5F2EA;
$silver: #ADADAD;
$supernova: #ffc241;
$timberwolf: #D9D7CE;
$white: #fff;
$white-smoke: #eee;
$yellow: #FFBA27;
