<section>
  <div class="container is-fullhd">
    <h3 class="page-title is-3">
      <div class="icon-books icon"></div>
      Search results:
    </h3>
    <div class="search-results" *ngFor="let search of searchResults">
      <ul>
        <li *ngFor="let item of search.items">
          <div class=" search-item ml-half mr-1 pt-half pb-half ">
            <figure class="image ">
              <img src="{{item.url}} ">
            </figure>
            <div class="ml-1 ">{{item.title}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
