<section class="section">
  <div class="container is-fullhd">
    <h3 class="page-title is-3 m-1 mb-2">
      <span class="icon-books icon"></span>
      <div class="ml-1">Search results:</div>
    </h3>
    <div class="search-results">
      <div class="search-filter mt-1 mb-1">
        <div *ngFor="let section of searchSections" class="ml-2">
          <a class="filter-section" (click)="filterSearchContent(section);">{{section}}</a>
        </div>
      </div>
      <ul *ngFor="let search of searchResults" class="mr-1 ml-1">
        <li *ngFor="let item of search.items">
          <div class=" search-item ml-1 mr-1 pt-half pb-half">
            <figure class="image ">
              <img src="{{item.url}} ">
            </figure>
            <div class="ml-1 ">{{item.title}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
