<div class="section">
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile">
        <div class="tile is-child is-6">
          <figure class="image is-4by3">
            <img src="https://images.contentful.com/2xzt2k8divi4/5u0V5lQsz64Mwoo6GumESM/850f1d019bd2c441e84124831f42b87f/leather2_small-4to3.jpg">
          </figure>
          <div class="banner-text container">
            <div class="title is-4">Summer Essentials</div>
            <div class="subtitle is-6">Make the great day happen</div>
            <app-goto-button name="Shop collection"></app-goto-button>
          </div>
        </div>
        <div class="tile is-child is-6">
          <figure class="image is-4by3">
            <img src="https://images.contentful.com/2xzt2k8divi4/1xe0LsmA7K2k0UeQyUO8gi/5081626aaa8b1b3a882123a7bcfe4312/woman2_small-4to3.jpg">
          </figure>
          <div class="banner-text">
            <div class="title is-4">Summer Lovin'</div>
            <div class="subtitle is-6">Summer must have outfits</div>
            <app-goto-button name="Shop collection"></app-goto-button>
          </div>
        </div>
      </div>
      <div class="tile">
        <div class="tile is-child">
          <figure class="image">
            <img src="https://images.contentful.com/2xzt2k8divi4/1iaEGYEycyAemAw6GwoSai/d470cc4d1a05c9e2b7d2850b1b3c9b4b/man2_large-8to3.jpg">
          </figure>
          <div class="banner-text vertical" *ngIf="featured">
            <div class="title is-4">{{ featured.title }}</div>
            <div class="subtitle is-6">{{ featured.subTitle }}</div>
            <div class="is-hidden-touch">
              <markdown>
                {{ featured.content }}
              </markdown>
            </div>
            <app-goto-button name="Shop collection"></app-goto-button>
          </div>
        </div>
      </div>
      <div class="tile">
        <div class="tile is-child is-6">
          <figure class="image is-4by3">
            <img src="https://images.contentful.com/2xzt2k8divi4/4Am6ffOQyIOSsU0u4CiqeS/7d2c6d3a451260372da99121947f595d/shoes_small-4to3.jpg">
          </figure>
          <div class="banner-text">
            <div class="title is-4">Unique style for every season</div>
            <div class="subtitle is-6">Fasion style 2016</div>
            <app-goto-button name="Shop collection"></app-goto-button>
          </div>
        </div>
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-child is-6">
              <figure class="image is-4by3">
                <img src="https://images.contentful.com/2xzt2k8divi4/3U2lqxVm80omSgmqGY8QWM/bf6d0e8c6a3848c3809c939b6900249b/blue-bg_large-4to3.png">
              </figure>
              <div class="banner-text top">
                <div class="title is-4">Summer fashion 2017</div>
              </div>
            </div>
            <div class="tile is-child is-6">
              <figure class="image is-4by3">
                <img src="https://images.contentful.com/2xzt2k8divi4/50Mkao7JpmYMSi6YCIaaey/fc388f7affaaf4f6d4603f1f89310c5b/sunglass_large-4to3.jpg">
              </figure>
              <div class="banner-text top">
                <div class="title is-4">Trendy Sunglasses</div>
                <div class="subtitle is-6">Accessories for the perfect summer</div>
                <app-goto-button name="Shop collection"></app-goto-button>
              </div>
            </div>
          </div>
          <div class="tile">
            <div class="tile is-child is-12">
              <figure class="image">
                <img src="https://images.contentful.com/2xzt2k8divi4/66AuRT4LFmuI6oYywqmIgO/73e1b4e2d2413a1b4907c489092bcd11/woman_large-8to3.jpg">
              </figure>
              <div class="banner-text">
                <div class="title is-4">Must to have it</div>
                <div class="subtitle is-6">Hot pieces for the summer this year</div>
                <app-goto-button name="Shop collection"></app-goto-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
