@import '../../variables.scss';

.section {
  padding: 0.5rem 0;
}

.tile.is-child {
  position: relative;
}

.banner-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: $white;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 100;
  min-height: 50px;

  &.top {
    top: 0;
  }

  &.vertical {
    top: 0;
    right: 0;
    height: 100%;
    padding: 2%;
    max-width: 40%;
    background: rgba(255, 255, 255, 0.6);
    color: $night-rider;

    .title,
    .subtitle,
    p {
      color: $night-rider;
    }

    p {
      text-transform: none;
      line-height: 1.5;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  .title,
  .subtitle {
    color: $white;
    font-weight: lighter;
    line-height: 1.6;
  }
  .title {
    font-size: 1.4em;
    padding: 5px;
  }
}

app-goto-button {
  /deep/ button {
    border-color: $yellow;
    border-radius: 0;
    width: 200px;
    margin-bottom: 1em;
    display: inline-flex;
  }
}

.banner-text.vertical {
  /deep/ a {
    border: 2px solid $night-rider;
    background-color: transparent;
  }
}
