@import '../../variables.scss';

a {
  color: $white;

  &:hover {
    background-color: $limed-spruce;
    color: $yellow;
  }
}

.navbar-dropdown {
  a:hover {
    background-color: $light-grey;
  }
}

.navbar-dropdown {
  .navbar-item {
    color: $ebony-clay;
  }
}

.is-active {
  .has-dropdown a {
    background-color: $limed-spruce;
  }
  .navbar-dropdown a {
    background-color: transparent;
    &:hover {
      background-color: $light-grey;
    }

  }
}
