<div class="columns">

  <!-- Filters column -->
  <div class="column is-3">
    <div class="title is-4">Filters</div>
  </div>

  <!-- Product list -->
  <div class="column is-9">
      <div class="title is-4">Products</div>
    <div class="columns is-mobile is-multiline is-centered">
      <ng-container *ngFor="let product of products">
        <ng-container *ngFor="let variant of product.variants">
          <div class="column is-narrow">
            <!-- Product item -->
            <a [routerLink]="['/product', product.id, variant.id]">
              <div class="box is-centered">
                <figure class="image product-image"
                  [style.height.px]="variant.images[0].dimensions.h"
                  [style.width.px]="variant.images[0].dimensions.w"
                >
                  <img src="{{variant.images[0].url}}">
                </figure>
                <div class="name-headline">{{product.name.en}}</div>
                <div class="item-price">
                  {{variant.prices[0].value.centAmount / 100}}
                  {{variant.prices[0].value.currencyCode}}
                </div>
              </div>
            </a>
          </div>
        </ng-container>

      </ng-container>
    </div>
  </div>

</div>
