<div class="columns">

  <!-- Filters column -->
  <div class="column is-3">
    <div class="title is-4">Filters</div>
  </div>

  <!-- Product list column -->
  <div class="column is-9">
      <div class="title is-4">Products</div>
    <div class="columns is-mobile is-multiline is-centered">
      <ng-container *ngFor="let product of products">
        <div class="column is-narrow">
          <app-product [product]="product"></app-product>
        </div>
      </ng-container>
    </div>
  </div>

</div>
