<app-popover [ngClass]="(isPopoverShown) ? 'active' : 'hidden'">
  <div class="mt-half ml-half search-query">
    <span class="icon-search icon"></span>
    Search for '{{searchQuery}}'
  </div>
  <ng-container *ngIf="searchResults?.length; else nomatch">
    <div class="section-title mt-half mb-1 p-half level">
      <div class="level-left">Products</div>
      <div class="is-uppercase level-right more" (click)="navigateToSearchPage();">More</div>
    </div>
    <ul>
      <li *ngFor="let item of searchResults" (click)="navigateToSearchedItem(item);">
        <div class="search-item ml-half mr-1 pt-half pb-half">
          <figure class="image">
            <img src="{{item.images}}" (error)="img.src=defaultImage" #img>
          </figure>
          <div class="ml-1">{{item["name.en"]}}</div>
        </div>
      </li>
    </ul>
  </ng-container>
</app-popover>
